/* .card {
    background-color: #ffffff;
    max-width: 28em;
    padding: 0;
    border-radius: 25px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    border: 2px solid black ;
    transition-duration: 0.3s;

} */
  
.image-container {
    text-align: center;
    border-radius: 25px;
}
  
.img {
    max-width: 100%;
    object-fit: cover;
    min-height: 20em;
    
}
#most-buy, #offer-products{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 8em 0;background-color: #222222;
}

.des-name{
    font-size: 20px;
    margin-top: -1%;
    margin-left: 4%;
}
.box{
    background-color: #cccecf;
    max-width: 20em;
    margin-top: 10%;
    padding: 10px;
    /* border-radius: 25px; */
    
    /* box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08); */
}